.ALL {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.headerText {
  color: rgb(79, 206, 79);
  /* color: rgb(230, 197, 69); */
}

.blackText {
  color: black;
}
